.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    gap: 1.2rem;
    padding: 1.5rem;
    background-color: #f9f9f9;
    border: none;
    outline: none;
    border-top: 8px solid rgb(34 197 94 / 1);
}
